# Core deep learning framework
torch

# For image processing and I/O
opencv-python

# For numerical operations
numpy

# For data augmentation
albumentations

# For splitting the dataset
scikit-learn

# 图形界面
PyQt5
